name: docker-build-image

on:
  workflow_call:
    inputs:
      registry_push:
        required: false
        default: false
        description: "Whether to push to docker registries"
        type: boolean
      target_branch:
        required: true
        description: "The branch to checkout and work-on"
        type: string
      sha:
        required: false
        description: "The sha for the commit status"
        type: string
      pull_request:
        required: false
        description: "The pull request"
        type: string

jobs:
  docker-build-image:
    runs-on: ubuntu-latest
    steps:
      - name: step-security/harden-runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.target_branch }}
          persist-credentials: false
      - name: Build Docker Image
        id: docker_build
        uses: quotidian-ennui/actions-olio/docker-image-builder@main
        with:
          registry_push: ${{ inputs.registry_push }}
          dockerfile: Dockerfile
          image_platforms: linux/amd64
          ghcr_image_name: ghcr.io/${{ github.repository }}
          ghcr_user: ${{ github.repository_owner }}
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
