name: docker-build-image

on:
  workflow_call:
    inputs:
      registry_push:
        required: false
        default: false
        description: "Whether to push to docker registries"
        type: boolean
      target_branch:
        required: true
        description: "The branch to checkout and work-on"
        type: string
      sha:
        required: false
        description: "The sha for the commit status"
        type: string
      pull_request:
        required: false
        description: "The pull request"
        type: string

jobs:
  docker-build-image:
    runs-on: ubuntu-latest
    steps:
      - name: step-security/harden-runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            cdn.dl.k8s.io:443
            dl.k8s.io:443
            deb.debian.org:80
            production.cloudflare.docker.com:443
            auth.docker.io:443
            api.github.com:443
            github.com:443
            registry-1.docker.io:443
            ghcr.io:443
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.target_branch }}
          persist-credentials: false
      - name: Build Docker Image
        id: docker_build
        uses: quotidian-ennui/actions-olio/docker-image-builder@2224d6e995321a927dcefae3c67cb7fa63510728 # v0.8.3
        with:
          registry_push: ${{ inputs.registry_push }}
          dockerfile: Dockerfile
          image_platforms: linux/amd64
          ghcr_image_name: ghcr.io/${{ github.repository }}
          ghcr_user: ${{ github.repository_owner }}
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
